<!-- app/components/compose-modal/template.hbs -->

<h6>Compose Chirp</h6>

{{textarea value=chirpText placeholder="Say something!" maxlength="60"}}

<button class="chirp" {{action "postChirp"}}>Chirp</button>

<p class="remaining-chars {{if warnCharsLeft 'warning'}}">{{remainingChars}}</p>